{% extends 'dentist/base.html' %}
{% load static %}

{%block content%}


<section class="dento-service-area  bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('/static/dentist/img/bg-img/13.jpg');">
<!--<section id="services" style="background-color:rgb(50, 59, 68)">-->
    <div class="section-heading white text-center"> <br><br>
        <h2>{{ patient.first_name }} {{ patient.last_name }}</h2>
        <div class="line"></div>
    </div>

    <div class="row mb-5 align-items-center justify-content-center g-0 ">

    <div class="row mb-5 align-items-center justify-content-center g-0 " >
        <div class="row">

            <div class="container mb-4  col-12 col-md-6 ">
            <div class="card h-100">
               <center> <h5 class="card-header">Patient</h5> </center>
                <div class="card-body">
                <h6>First Name: {{ patient.first_name }}</h6>
                <h6>Last Name: {{ patient.last_name }}</h6>
                <h6>Email: {{ patient.email }}</h6>
                <h6>Phone: {{ patient.phone }}</h6>
                <a href="#" class="btn btn-primary">UPDATE</a>
                </div>
            </div>
            </div>

            <div class="container mb-4  col-12 col-md-6 ">
                <div class="card h-100">
                    <center><h5 class="card-header">MEDICAL RECORD</h5></center>
                    <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
            </div>

        </div>
        <a href="{% url 'createconsultation' patient.user_id %}" class="btn btn-primary">Create Consultation</a>

    </div>

</div>
</section>


            
<br><br>

<section>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Diagnostics</th>
            <th scope="col">Treatment</th>
            <th scope="col">Doctor Name</th>
          </tr>
         
        </thead>
        <tbody>
            {% for consult in consultation %}
          <tr>
            <td>{{consult.date}}</td>
            <td>{{consult.diagnostics}}</td>
            <td>{{consult.treatment}}</td>
            <td>{{consult.doctor_name.first_name}} {{consult.doctor_name.last_name}} </td>
          </tr>
          {% endfor %}   
        </tbody>
      </table>
</section>




{%endblock%}
